body {
    margin: 0;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: end;
    height: 8vh;
    background-color: rgb(27,18,17);
}

nav a {
    margin-right: 2vw;
    font-size: 25px;
    font-family: "Lunasima", sans-serif;
    color: rgb(240, 243, 248);
    text-decoration: none;
    display: flex;
    align-items: center;
}


header {
    height: 100vh;
    max-width: 100%;
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
}

.name-title {
    position: absolute;
    bottom: 15%;
    left: 15%;
    transform: translateX(-10%);
    font-size: 2.5rem; /* Adjust the font size as needed */
    color: rgb(240, 243, 248); /* Adjust the color of the text */
    padding: 10px 20px; /* Add padding to the text for better readability */
}

#about {
    background-color: darkgrey;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    padding: 5px;
    max-height: 100%;
    max-width: 100%;
}

#portfolio {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 3rem;
}